@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
body{
  padding:auto;
  margin:auto;
  background-color:#f4f4f4;
}
header{
  background:#bbbbbb;
  padding-top:5px;
  padding-bottom: 5px;
  min-height:70px;
}
article {
  font-family: 'Open Sans', sans-serif;
  width : 960px;
  height: 550px;
  float: left;
  font-weight: 100;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 48px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.article{
  height: 120px;
  margin-top: 5px;
  margin-bottom: 0px;
}
