@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
#wrapper{
  width: 960px;
  margin-right: auto;
  margin-left: auto;

}

header {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 30px;
}

article {
  font-family: 'Open Sans', sans-serif;
  width : 960px;
  height: 550px;
  float: left;

}
h1 {

    font-family: 'Open Sans', sans-serif;

}
.article{
  height: 120px;
  margin-top: 5px;
  margin-bottom: 0px;
}
